.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 5rem 10rem;
}

.mainRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noteSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
}

.toggleThemeWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .toggleTheme {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 1300;

        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 2rem;
        line-height: 1;
        border: none;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
        transition: all 0.25s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            transform: rotate(12deg) scale(1.1);
            box-shadow: 0 8px 20px rgba(255, 200, 0, 0.5);
        }
    }
}
